@import "@/src/app/shortStyles.scss";

.legacy-content {
  @include flex(center, center);
  width: 100%;

  padding-top: 140px;
  padding-bottom: 100px;

  @include screen-tb {
    padding-top: 100px;
    padding-bottom: 55px;
  }

  @include screen-mb {
    padding-top: 80px;
    padding-bottom: 55px;
  }

  .container {
    @include flex(flex-start, flex-start);
    @include f-direction(column);

    max-width: 1380px;
    width: 100%;

    gap: 32px;

    @include screen-tb {
      gap: 28px;
    }

    @include screen-mb {
      gap: 20px;
    }
  }

  .section {
    @include flex(flex-start, flex-start);
    @include f-direction(column);
    gap: 20px;

    .content {
      @include flex(flex-start, flex-start);
      @include f-direction(column);
      gap: 0;
    }
  }

  h1 {
    @include h1-42-120_700;
    color: $textPrimary;
    font-family: $fontMain;
    text-align: left;
    padding: 3px 0;

    @include screen-tb {
      padding: 2px 0;
    }

    @include screen-mb {
      @include h3-28-120_700;
      padding: 0;
    }
  }

  h2 {
    @include p-16-135_400;
    color: $textSecondary;
    font-family: $fontMain;
    font-style: italic;
    text-align: left;

    @include screen-mb {
      @include p-14-135_400;
      font-style: italic;
    }
  }

  h3 {
    @include h4-24-120_700;
    text-align: left;

    @include screen-mb {
      @include p-20-120_700;
    }
  }

  p {
    @include p-16-135_400;
    color: $textSecondary;
    font-family: $fontMain;
    text-align: left;

    @include screen-mb {
      @include p-14-135_400;
    }
  }
}

.table-container {
  @include flex(center, center);
  @include f-direction(column);
  gap: 32px;
  margin: 0 auto;
  padding-bottom: 140px;

  .table {
    @include flex(center, flex-start);
    @include f-direction(row);
    width: 100%;
    height: 350px;

    .left-side,
    .right-side {
      @include flex(flex-start, flex-start);
      @include f-direction(column);
      gap: 10px;
      width: 50%;
      height: 100%;

      padding: 20px;
      border: 1px solid $gray400;
    }
  }
}
