@import "@/src/app/shortStyles.scss";

.franchise-info-section {
  @include flex(center, center);
  width: 100%;

  .container {
    @include flex(center, center);
    @include f-direction(column);

    padding: 55px 30px;

    @include screen-mb {
      gap: 35px;
      padding: 25px 20px;
    }
  }

  &__cards-container {
    @include flex(center, center);
    @include f-direction(row);

    flex-wrap: wrap;
    width: 100%;

    gap: 0;

    border: 1px solid $gray600;
    border-radius: 10px;
    padding: 24px 0;
    gap: 25px 0;

    @include screen-tb {
      padding: 0;
    }
  }

  &__card {
    @include flex(center, center);
    @include f-direction(row);

    width: fit-content;
    padding: 7px 25px;

    gap: 25px;

    &:nth-child(even) {
      border-left: 1px solid $gray600;
      border-right: 1px solid $gray600;
    }

    &:last-child {
      border-right: none;
    }

    @include screen-tb {
      width: 85%;
      padding: 35px 0;

      &:nth-child(even) {
        border-left: none;
        border-right: none;
        border-top: 1px solid $gray600;
        border-bottom: 1px solid $gray600;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    @include screen-mb {
      padding: 20px 0;
    }
  }

  &__img-box {
    max-width: 52px;
    width: 100%;
    height: 100%;

    .img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__card-info {
    @include flex(center, flex-start);
    @include f-direction(column);

    width: 100%;
    gap: 5px;

    h3 {
      @include p-16-135_400;
      color: $textSecondary;
      text-align: center;

      @include screen-tb {
        text-align: left;
      }
    }

    h4 {
      @include p-24-120_700;
      color: $textPrimary;
      text-align: center;

      @include screen-tb {
        text-align: left;
      }
    }
  }
}
